# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/liboqs
/oqs-provider
/build
/evmone
IMPLEMENTATION_PLAN.md
/cpp-libp2p
.env
/.vscode
.DS_Store
miniupnpc
/tests
/build
